html {
	min-height: 100%;
}

header {
	float: right;
	margin: 0px;
	border: solid 2px black;
	box-sizing: border-box;
	clear: all;
}

body {
	background-position: fixed;
	background: url("../images/heart_bkgrd.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
	font-family: "Tahoma", sans-serif;
	background-color: #f5f5d6;
}

h1 {
	color: #9900cc;
	margin: auto 0;
    font-size:24px;
    text-align: center;
}

#lesson4 {
	color: #9900cc;

}

#container {
    position: relative;
    margin: 0 auto;
    width: 950px;
    height: 1000px;
    padding: 30px;
    box-sizing: border-box;
}

.pages {
	float: right;
	font-size: 18px;
	text-align: left;
}
.pages li {
	list-style: none;
	padding-right: 25px;
}

.pagelinks {

}

.assignments {
	

}

.assignments li {
	list-style: none;
}

.social a:hover {
	box-sizing: border-box;
	border-radius: 5px;
	padding: 5px;
}

.social img {
	width: 48px; 
	height: 48px; 
	padding: 5px;
}

.social li {
	list-style: none;
	display: block;
	margin:0px;
	
}


